doctype html
html(lang = 'ru')
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport' content = 'width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name = 'description' content = '')
        meta(name = 'author' content = '')
        title FaceList
    body
        h1 #{result.name}
            h2 #{result.category.name}
            p
                b #{result.description}



